<% include layoutTop %>
<div class="main">
    <h1>The World's <strong>Second</strong> Best Secret Keeper</h1>
    <p class="lead">Welcome to The World's <strong>Second</strong> Best Secret Keeper, where your secrets are almost safe.</p>
</div>
<div class="row">
    <div class="span12">
        <h2>How It Works</h2>
    </div>
    <div class="span12">
        <p>You have a secret, we know that. We also know you have the urge to share it to someone that won't ever tell it to somebody else.</p>
        <p><strong>This</strong> is when we come into place! You can trust us your secret and, well... we might eventually tell it to someone else... Like, two times or something...</p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>How do I know I can trust you?</h2>
    </div>
    <div class="span12">
        <p>That's a good question. You kinda can't... That's the <strong>fun</strong> part! You tell us a secret and we share it to up to 2 random people, anonymously!</p>
    </div>
</div>

<div class="row">
    <div id="done" class="done">
        <p><strong>That's it!</strong> Your secret is "safe" with us now. Nobody will ever know it! Except, maybe, 2 other people... Who knows, right?</p>
        <p class="text-center">
            <a class="btn btn-lg btn-link another" href="#tellSecret"><strong>Awesome!</strong> But I have another one...</a>
        </p>
    </div>
    <form action="/secret" id="tellSecret" role="form" method="post">
        <div class="form-group">
            <label for="secret">Your Secret:</label>
            <textarea id="secret" name="secret" class="form-control" rows="3" placeholder="We won't tell nobody! Word."></textarea>
        </div>
        <p class="text-center">
            <button class="btn btn-lg btn-default forgetIt" type="reset">Hmm, forget it...</button>
            <button class="btn btn-lg btn-primary submit">Okay, I'm done!</button>
        </p>
    </form>
</div>
<% include layoutBottom %>