<% include layoutTop %>
<ul>
<% for(var i=0; i<secrets.length; i++) {%>
   <li><%= secrets[i].secret %> (<%= secrets[i].shares.current %>/<%= secrets[i].shares.max %>) - <%= secrets[i]._id %></li>
<% } %>
</ul>
<% include layoutBottom %>