body {
  padding-top: 50px;
}
body>.container>.main {
  padding: 40px 15px;
  text-align: center;
}
.done, .done:target ~ #tellSecret {
	display: none;
}
.done:target {
	display: block;
}

#tellSecret {
	display: block;
}

#tellSecret:target {
	display: block;
}